.spinner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: 999;
}

.spinner div {
  height: 200px;
  width: 200px;
  background: url('../../logo.svg') no-repeat center;
  animation: App-logo-spin infinite 1s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
